{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>JOKER</title>

    <link rel="stylesheet"
          href="http://institut-de-genomique.github.io/Ultimate-DataTable/js/bootstrap/css/bootstrap-3.3.4.min.css">
    <link rel="stylesheet"
          href="http://institut-de-genomique.github.io/Ultimate-DataTable/js/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="//cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css" rel="stylesheet">


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
</head>
{% verbatim %}
<body ng-app="App">
<div class="container" ng-controller="Ctrl">
    <div class="page-title">
        <div class="title_left">
            <h3>JOKER EXAM</h3>
        </div>
        </br>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-3">
                            Min Date:
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="min_date" data-date-format='yyyy-mm-dd'
                                   name="daterange"/>
                        </div>
                        <div class="col-md-3">
                            Max Date:
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="max_date" data-date-format='yyyy-mm-dd'
                                   name="daterange"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            Type:
                        </div>
                        <div class="col-md-3">
                            <select ng-model="type" novalidate="" ng-options="type.name for type in contactType">
                                <option value="">-- Select a contact type --</option>
                            </select>


                        </div>
                        <div class="col-md-3">
                            Subtype:
                        </div>
                        <div class="col-md-3">
                            <select ng-model="contaubject" novalidate=""
                                    ng-options="contaubject.name for contaubject in contactSubject">
                                <option value="">-- Select a contact subject --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            App Version:
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" ng-model="app_version" id="app_version">
                                <option value="">Select an App Version</option>

                                <option value="4.2.0">4.2.0</option>

                                <option value="3.2.0">3.2.0</option>

                                <option value="3.2.1">3.2.1</option>

                                <option value="2.0.0">2.0.0</option>

                                <option value="1.0.0">1.0.0</option>

                                <option value="4.0.0">4.0.0</option>

                                <option value="3.0.0">3.0.0</option>

                                <option value="4.1.0">4.1.0</option>

                                <option value="3.3.1">3.3.1</option>

                            </select>
                        </div>
                        <div class="col-md-3">
                            Post Status:
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="status" multiple="">
                                <option value="">Select an Post Status</option>
                                <option value="open">Open</option>
                                <option value="closed">Closed</option>
                                <option value="re-open">Re-Open</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            &nbsp;Has User Flag:
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" id="has_user_flag">
                                <option value="">Flagged</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <button id="filter" style="width:100%;" type="button" ng-click="Filter()"
                                        class="btn btn-primary btn-md">
                                    Filter
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button id="reset" style="width:100%;" type="button" ng-click="Reset()"
                                        class="btn btn-primary btn-md">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th style="cursor:pointer;" ng-click="sortType='id';sortReverse = !sortReverse;Filter();">
                        <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                        ID
                    </th>
                    <th data-mdata="report_date" style="cursor:pointer;"
                        ng-click="sortType='report_date';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'report_date' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'report_date' && sortReverse" class="fa fa-caret-up"></span>
                        Report Date
                    </th>
                    <th data-mdata="reply_date" style="cursor:pointer;"
                        ng-click="sortType='reply_date';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'reply_date' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'reply_date' && sortReverse" class="fa fa-caret-up"></span>
                        Reply Date
                    </th>
                    <th data-mdata="status" style="cursor:pointer;"
                        ng-click="sortType='status';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                        Status
                    </th>
                    <th data-mdata="type" style="cursor:pointer;"
                        ng-click="sortType='type';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
                        Contact Type
                    </th>
                    <th data-mdata="subject" style="cursor:pointer;"
                        ng-click="sortType='subject';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'subject' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'subject' && sortReverse" class="fa fa-caret-up"></span>
                        Subject
                    </th>
                    <th data-mdata="detail" style="cursor:pointer;"
                        ng-click="sortType='detail';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'detail' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'detail' && sortReverse" class="fa fa-caret-up"></span>
                        Detail
                    </th>
                    <th data-mdata="total_contacts" style="cursor:pointer;"
                        ng-click="sortType='total_contacts';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'total_contacts' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'total_contacts' && sortReverse" class="fa fa-caret-up"></span>
                        Total Contacts

                    </th>
                    <th data-mdata="closed" style="cursor:pointer;"
                        ng-click="sortType='closed';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'closed' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'closed' && sortReverse" class="fa fa-caret-up"></span>
                        Closed
                    </th>
                    <th data-mdata="user" style="cursor:pointer;"
                        ng-click="sortType='user';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'user' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'user' && sortReverse" class="fa fa-caret-up"></span>
                        User
                    </th>
                    <th data-mdata="app_version" style="cursor:pointer;"
                        ng-click="sortType='app_version';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'app_version' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'app_version' && sortReverse" class="fa fa-caret-up"></span>
                        App Version
                    </th>
                    <th data-mdata="payment_status" style="cursor:pointer;"
                        ng-click="sortType='payment_status';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'payment_status' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'payment_status' && sortReverse" class="fa fa-caret-up"></span>
                        Payment Status
                    </th>
                    <th data-mdata="membership_status" style="cursor:pointer;"
                        ng-click="sortType='membership_status';sortReverse = !sortReverse;Filter()">
                        <span ng-show="sortType == 'membership_status' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'membership_status' && sortReverse" class="fa fa-caret-up"></span>
                        Membership Status
                    </th>

                    <th data-mdata="action" ng-click="Filter('action')">Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="complaint in complaintList">
                    <td>{{ complaint.id }}</td>
                    <td>{{ complaint.report_date }}</td>
                    <td>{{ complaint.reply_date }}</td>
                    <td>{{ complaint.status }}</td>
                    <td>{{ complaint.reason }}</td>
                    <td>{{ complaint.subject }}</td>
                    <td>{{ complaint.detail | truncate:20 }}</td>
                    <td>{{ complaint.total_contacts }}</td>
                    <td>{{ complaint.closed }}</td>
                    <td>
                        <a href="#">
                            <img src="https://graph.facebook.com/v2.10/{{ complaint.reported_by }}/picture?redirect=0&height=200&type=normal&width=200"
                                 width="25px" height="25px">

                        </a>

                    </td>
                    <td>{{ complaint.app_version }}</td>
                    <td>{{ complaint.payment_status }}</td>
                    <td>{{ complaint.membership_status }}</td>
                    <td>
                        <a href="/{{ complaint.reported_by }}/profile/" target="_blank"
                           class="btn btn-primary">Profile</a>
                    </td>
                </tr>
                </tbody>

            </table>
            <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    (function () {
        'use strict';

        $('input[name="daterange"]').datepicker({
            dateFormat: "yy-mm-dd"
        });


        var Joker = angular.module("App", []);

        Joker.controller('Ctrl', function ($scope, ComplaintService, ContactTypeService, ContactSubjectService) {
            $scope.numPerPage = 10;
            $scope.currentPage = 1;
            $scope.order = "";
            $scope.ComplaintServiceRun = function (page, url) {
                ComplaintService.list(page, url).then(function (data) {
                    $scope.complaintList = data.results;
                    $scope.numPages = data.count;
                    $scope.noOfPages = Math.ceil($scope.numPages / $scope.numPerPage);
                    $scope.next_url = data.next;
                    $scope.previous_url = data.previous;
                }, function (status) {
                    console.log(status);
                });


            };

            $scope.Reset = function () {
                $("#min_date").val("");
                $("#max_date").val("");
                $scope.app_version = undefined;
                $scope.type = undefined;
                $scope.contact_subject = undefined;
                $scope.Filter();
            };

            $scope.Filter = function () {
                var url = "/api/complaints/?";
                url += "report_date_0=" + $("#min_date").val().split("/").join("-");
                url += "&report_date_1=" + $("#max_date").val().split("/").join("-");
                if ($scope.app_version != undefined)
                    url += "&app_version=" + $scope.app_version;
                if ($scope.type != undefined)
                    url += "&type=" + $scope.type.id;
                if ($scope.contaubject != undefined)
                    url += "&subtype=" + $scope.contaubject.id;
                if ($scope.sortReverse != undefined && $scope.sortType != undefined)
                    if ($scope.sortReverse)
                        url += "&ordering=" + $scope.sortType;
                    else
                        url += "&ordering=-" + $scope.sortType;

                console.log(url);
                $scope.ComplaintServiceRun($scope.currentPage, url);
            };

            ContactSubjectService.list().then(function (data) {
                $scope.contactSubject = data;
                console.log(data);
            }, function (status) {
                console.log(status);
            });

            ContactTypeService.list().then(function (data) {
                $scope.contactType = data;
                console.log(data);
            }, function (status) {
                console.log(status);
            });


            $scope.$watch('currentPage', function (value) {
                $scope.ComplaintServiceRun(value);
            });

            $scope.ComplaintServiceRun();
        });

        Joker.factory('ComplaintService', function ($http, $q) {
            var api_url = "/api/complaints/?limit=10";
            return {
                list: function (page, url) {
                    var pagination_url;
                    if (url)
                        pagination_url = url;
                    else
                        pagination_url = page != null ? api_url + '&offset=' + (page - 1) * 10 : api_url;

                    var defer = $q.defer();
                    $http({method: 'GET', url: pagination_url}).success(function (data, status, headers, config) {
                        defer.resolve(data);
                    }).error(function (data, status, headers, config) {
                        defer.reject(status);
                    });
                    return defer.promise;
                }
            }
        });

        Joker.factory('ContactTypeService', function ($http, $q) {
            var api_url = "/api/contact_type/";
            return {
                list: function (page) {
                    var defer = $q.defer();
                    $http({method: 'GET', url: api_url}).success(function (data, status, headers, config) {
                        defer.resolve(data);
                    }).error(function (data, status, headers, config) {
                        defer.reject(status);
                    });
                    return defer.promise;
                }
            }
        });

        Joker.factory('ContactSubjectService', function ($http, $q) {
            var api_url = "/api/contact_subject/";
            return {
                list: function () {
                    var defer = $q.defer();
                    $http({method: 'GET', url: api_url}).success(function (data, status, headers, config) {
                        defer.resolve(data);
                    }).error(function (data, status, headers, config) {
                        defer.reject(status);
                    });
                    return defer.promise;
                }
            }
        });

        Joker.filter('truncate', function () {
            return function (text, length, end) {
                if (isNaN(length))
                    length = 10;

                if (end === undefined)
                    end = "...";

                if (text == "" || text == null)
                    return "";
                if (text.length <= length || text.length - end.length <= length) {
                    return text;
                }
                else {
                    return String(text).substring(0, length - end.length) + end;
                }

            };
        });

        Joker.directive('pagination', function () {
            return {
                restrict: 'E',
                scope: {
                    numPages: '=',
                    currentPage: '=',
                    onSelectPage: '&'
                },
                template: '<div class="pagination"><ul><li ng-class="{disabled: noPrevious()}"><a ng-click="selectPrevious()">Previous</a></li> <li ng-repeat="page in pages" ng-class="{active: isActive(page)}"><a ng-click="selectPage(page)">{{page}}</a></li> <li ng-class="{disabled: noNext()}"><a ng-click="selectNext()">Next</a></li> </ul> </div>',
                replace: true,
                link: function (scope) {
                    scope.$watch('numPages', function (value) {
                        scope.pages = [];
                        for (var i = 1; i <= value; i++) {
                            if ((scope.currentPage + 2 > i && scope.currentPage - 2 < i) || i < 4 || value == i) {
                                scope.pages.push(i);
                            }
                        }
                        if (scope.currentPage > value) {
                            scope.selectPage(value);
                        }
                    });
                    scope.noPrevious = function () {
                        return scope.currentPage === 1;
                    };
                    scope.noNext = function () {
                        return scope.currentPage === scope.numPages;
                    };
                    scope.isActive = function (page) {
                        return scope.currentPage === page;
                    };

                    scope.selectPage = function (page) {
                        if (!scope.isActive(page)) {
                            scope.currentPage = page;
                            scope.onSelectPage({page: page});

                            scope.pages = [];
                            for (var i = 1; i <= scope.numPages; i++) {
                                if ((scope.currentPage + 2 > i && scope.currentPage - 2 < i) || i < 4 || scope.numPages == i) {
                                    scope.pages.push(i);
                                }
                            }

                        }
                    };

                    scope.selectPrevious = function () {
                        if (!scope.noPrevious()) {
                            scope.selectPage(scope.currentPage - 1);
                        }
                    };
                    scope.selectNext = function () {
                        if (!scope.noNext()) {
                            scope.selectPage(scope.currentPage + 1);
                        }
                    };
                }
            };
        });
    })();
</script>
{% endverbatim %}
</html>